@font-face {
  font-family: 'Ubuntu';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/Ubuntu-regular/Ubuntu-regular.eot');
  src: url('../fonts/Ubuntu-regular/Ubuntu-regular.eot?#iefix') format('embedded-opentype'),
       local('Ubuntu'),
       local('Ubuntu-regular'),
       url('../fonts/Ubuntu-regular/Ubuntu-regular.woff2') format('woff2'),
       url('../fonts/Ubuntu-regular/Ubuntu-regular.woff') format('woff'),
       url('../fonts/Ubuntu-regular/Ubuntu-regular.ttf') format('truetype'),
       url('../fonts/Ubuntu-regular/Ubuntu-regular.svg#Ubuntu') format('svg');
}

@font-face {
  font-family: 'Ubuntu';
  font-weight: 500;
  font-style: normal;
  src: url('../fonts/Ubuntu-500/Ubuntu-500.eot');
  src: url('../fonts/Ubuntu-500/Ubuntu-500.eot?#iefix') format('embedded-opentype'),
       local('Ubuntu Medium'),
       local('Ubuntu-500'),
       url('../fonts/Ubuntu-500/Ubuntu-500.woff2') format('woff2'),
       url('../fonts/Ubuntu-500/Ubuntu-500.woff') format('woff'),
       url('../fonts/Ubuntu-500/Ubuntu-500.ttf') format('truetype'),
       url('../fonts/Ubuntu-500/Ubuntu-500.svg#Ubuntu') format('svg');
}

@font-face {
  font-family: 'Ubuntu';
  font-weight: 400;
  font-style: italic;
  src: url('../fonts/Ubuntu-italic/Ubuntu-italic.eot');
  src: url('../fonts/Ubuntu-italic/Ubuntu-italic.eot?#iefix') format('embedded-opentype'),
       local('Ubuntu Italic'),
       local('Ubuntu-italic'),
       url('../fonts/Ubuntu-italic/Ubuntu-italic.woff2') format('woff2'),
       url('../fonts/Ubuntu-italic/Ubuntu-italic.woff') format('woff'),
       url('../fonts/Ubuntu-italic/Ubuntu-italic.ttf') format('truetype'),
       url('../fonts/Ubuntu-italic/Ubuntu-italic.svg#Ubuntu') format('svg');
}

@font-face {
  font-family: 'Ubuntu';
  font-weight: 500;
  font-style: italic;
  src: url('../fonts/Ubuntu-500italic/Ubuntu-500italic.eot');
  src: url('../fonts/Ubuntu-500italic/Ubuntu-500italic.eot?#iefix') format('embedded-opentype'),
       local('Ubuntu Medium Italic'),
       local('Ubuntu-500italic'),
       url('../fonts/Ubuntu-500italic/Ubuntu-500italic.woff2') format('woff2'),
       url('../fonts/Ubuntu-500italic/Ubuntu-500italic.woff') format('woff'),
       url('../fonts/Ubuntu-500italic/Ubuntu-500italic.ttf') format('truetype'),
       url('../fonts/Ubuntu-500italic/Ubuntu-500italic.svg#Ubuntu') format('svg');
}
@font-face {
  font-family: 'Oswald';
  font-weight: 300;
  font-style: normal;
  src: url('../fonts/Oswald-300/Oswald-300.eot');
  src: url('../fonts/Oswald-300/Oswald-300.eot?#iefix') format('embedded-opentype'),
       local('Oswald Light'),
       local('Oswald-300'),
       url('../fonts/Oswald-300/Oswald-300.woff2') format('woff2'),
       url('../fonts/Oswald-300/Oswald-300.woff') format('woff'),
       url('../fonts/Oswald-300/Oswald-300.ttf') format('truetype'),
       url('../fonts/Oswald-300/Oswald-300.svg#Oswald') format('svg');
}

@font-face {
  font-family: 'Oswald';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/Oswald-regular/Oswald-regular.eot');
  src: url('../fonts/Oswald-regular/Oswald-regular.eot?#iefix') format('embedded-opentype'),
       local('Oswald Regular'),
       local('Oswald-regular'),
       url('../fonts/Oswald-regular/Oswald-regular.woff2') format('woff2'),
       url('../fonts/Oswald-regular/Oswald-regular.woff') format('woff'),
       url('../fonts/Oswald-regular/Oswald-regular.ttf') format('truetype'),
       url('../fonts/Oswald-regular/Oswald-regular.svg#Oswald') format('svg');
}

@font-face {
  font-family: 'Oswald';
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/Oswald-700/Oswald-700.eot');
  src: url('../fonts/Oswald-700/Oswald-700.eot?#iefix') format('embedded-opentype'),
       local('Oswald Bold'),
       local('Oswald-700'),
       url('../fonts/Oswald-700/Oswald-700.woff2') format('woff2'),
       url('../fonts/Oswald-700/Oswald-700.woff') format('woff'),
       url('../fonts/Oswald-700/Oswald-700.ttf') format('truetype'),
       url('../fonts/Oswald-700/Oswald-700.svg#Oswald') format('svg');
}


body { margin:0; padding:0; overflow:auto; /*background-image:url('../images/dashboard/bg.png');*/ background-color:#F5F5F5; user-select:text; }
#content-container { margin-left:224px; min-width:768px; min-height: 400px; padding:16px; padding-bottom:35px; overflow:auto;}
#content {padding-bottom: 50px; }
a { color:inherit; text-decoration:none; }
a:visited { color:inherit; }
a:hover { color:inherit; }
a:active { color:inherit; }
#app-tooltip{display: none; position: absolute; z-index: 1000; background-color: #CCC; height: 45px; margin-left:5px;}
#app-tooltip .app-container{padding-left:11px;}
.break {word-wrap: break-word;}
.over {z-index:100;}
#no-app-type{width: 100%; padding: 20px 0; text-align: center; border: 1px dashed #CCC; font: 13px Ubuntu,Helvetica,sans-serif;}
#no-app-type a{color:#72AE4B; text-decoration: underline;}

/* FOOTER */
#content-footer{position: fixed; bottom:0; left:0px; width: 100%; background-color: #282828; font: 13px Ubuntu,Helvetica,sans-serif; color: #888; height: 35px; z-index:999;}
#content-footer span{float: left; line-height: 35px; margin-left: 18px;}
#content-footer ul {list-style: none; float: right; margin: 0; padding: 0; margin-right: 10px;}
#content-footer ul li{float: left; margin-right: 7px; margin-left: 7px; line-height: 35px;}

/* SIDEBAR */
#sidebar { position:fixed; left:0; width:224px; background-image:url('../images/dashboard/menu_bg.png'); background-position:0 400px; height:100%; z-index:998; user-select:none; }
#sidebar-top { height:112px; padding-top:11px; background-image:url('../images/dashboard/logo_bg.png'); }
#sidebar-logo { background-image:url('../images/dashboard/logo.png'); width:144px; height:44px; margin:0 auto; }
#sidebar-app-select { width:170px; height:16px; padding:10px; background-image:url('../images/dashboard/combobox.png'); margin:0 auto; margin-top:21px; cursor:pointer; }
	#sidebar-app-select:hover { background-position:-190px; }
	#sidebar-app-select.active { background-position:-380px; }
	#sidebar-app-select.active:hover { background-position:-570px; }
	#sidebar-app-select.disabled { opacity:0.3; }
	#sidebar-app-select.disabled:hover { background-position:0; }
	#sidebar-app-select .text { width:120px; text-overflow:ellipsis; white-space:nowrap; overflow:hidden; font:13px Ubuntu,Helvetica,sans-serif; line-height:111%; color:#505050; text-shadow:0 1px #CCC; float:left; }
	#sidebar-app-select .logo { width:20px; height:20px; background-size:20px 20px; float:left; margin-right:10px; margin-top:-3px; background-position:center; border-radius:4px; border:1px solid #555; }

#sidebar-bottom-container { z-index:2; position:absolute; background-color:#222222; bottom:50px; left:14px; padding:5px 10px; width:170px; font:13px Ubuntu,Helvetica,sans-serif; line-height:111%; color:#505050; box-shadow:inset 0 1px 0 #2D2D2D; text-shadow:0 -1px #161616; border:1px solid #1A1A1A; border-radius:5px; }
#sidebar-bottom-container .reveal-menu { width:14px; height:15px; background-image:url('../images/dashboard/settings.png'); float:right; cursor:pointer; }
#sidebar-bottom-container .reveal-language-menu { float:right; padding:5px 0 6px 5px; margin:-5px -4px -5px 5px; border-left:1px solid #1A1A1A; cursor:pointer; transition:color 1s; }
#sidebar-bottom-container .reveal-language-menu:hover { color:#848484; transition:color 1s; }
#sidebar-bottom-container .menu, #language-menu { display:none; margin-bottom:5px; border-bottom:1px solid #2D2D2D; }
#sidebar-bottom-container #language-menu { overflow:auto; box-shadow:inset 0 -1px 0 0 #1A1A1A; }
#sidebar-bottom-container #language-menu .group { float:left; margin-right:19px; }
#sidebar-bottom-container #language-menu .group:last-child { margin-right:0; }
#sidebar-bottom-container #language-menu .group .item:last-child { border-bottom:none; }
#sidebar-bottom-container .item { padding-bottom:3px; padding-top:3px; cursor:pointer; display:block; }
#sidebar-bottom-container .item:last-child { border-bottom:1px solid #1A1A1A; padding-bottom:8px; }
#sidebar-bottom-container .item:hover { color:#848484; }
#sidebar-bottom-container .username { float:left; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; max-width:120px; }

#sidebar-menu { }
	#sidebar-menu .sidebar-menu>.item { margin-top:-1px; margin-left:-1px; width:223px; text-overflow:ellipsis; white-space:nowrap; overflow:hidden; height:43px; padding-top:3px; background-image:url('../images/dashboard/menu_button.png'); display:block; cursor:pointer; }
        #sidebar-menu .sidebar-menu>.item.hide { display: none; }
        #sidebar-menu .sidebar-menu .item:hover { background-position:446px; }
		#sidebar-menu .sidebar-menu .item.active { background-position:223px; }
		#sidebar-menu .sidebar-menu .item .logo { background-image:url('../images/dashboard/menu_icons.png'); color:#888; width:40px; height:40px; float:left; margin-left:9px; }
        #sidebar-menu .sidebar-menu>.item>.logo-icon { background-image:none; font-size:24px; text-align:center; padding-top:4px; width: 35px; margin-left: 14px; line-height: 34px; }
            #sidebar-menu .sidebar-menu .item.active .logo { color:#FFF; }
            #sidebar-menu .sidebar-menu .item .logo.dashboard { background-position:0; }
			#sidebar-menu .sidebar-menu .item.active .logo.dashboard { background-position:-40px; }
			#sidebar-menu .sidebar-menu .item .logo.analytics { background-position:-80px; }
			#sidebar-menu .sidebar-menu .item.active .logo.analytics { background-position:-120px; }
			#sidebar-menu .sidebar-menu .item .logo.management { background-position:-160px; }
			#sidebar-menu .sidebar-menu .item.active .logo.management { background-position:-200px; }
			#sidebar-menu .sidebar-menu .item .logo.events { background-position:-400px; }
			#sidebar-menu .sidebar-menu .item.active .logo.events { background-position:-440px; }
            #sidebar-menu .sidebar-menu .item .logo.engagement { background-position:-480px; }
            #sidebar-menu .sidebar-menu .item.active .logo.engagement { background-position:-520px; }
		#sidebar-menu .sidebar-menu .item .text { margin-left:15px; float:left; padding-top:11px; font:15px Ubuntu,Helvetica,sans-serif; line-height:130%; color:#888; text-shadow:0 1px #222; }
			#sidebar-menu .sidebar-menu .item.active .text { color:#FFF; text-shadow:0 1px #666; }

	#sidebar-menu .sidebar-menu .sidebar-submenu { background-image:url('../images/dashboard/submenu_bg.png'); width:222px; display:none; }
		#sidebar-menu .sidebar-menu .sidebar-submenu .item,
		#sidebar-menu .sidebar-menu .sidebar-submenu .disabled-item { text-overflow:ellipsis; white-space:nowrap; overflow:hidden; height:34px; display:block; padding-left:8px; background-image:url('../images/dashboard/submenu_seperator.png'); background-position:bottom; background-repeat:no-repeat; cursor:pointer; }
		#sidebar-menu .sidebar-menu .sidebar-submenu .disabled-item { cursor:default; }

		#sidebar-menu .sidebar-menu .sidebar-submenu .item:hover { opacity:0.6; }
		#sidebar-menu .sidebar-menu .sidebar-submenu .item.active:hover { opacity:1; }
		#sidebar-menu .sidebar-menu .sidebar-submenu .item:last-child { background-image:none; }
			#sidebar-menu .sidebar-menu .sidebar-submenu .item .logo-icon { color:#888; width:30px; height:30px; float:left; margin-left:8px; margin-top:8px; text-align:center;}
			#sidebar-menu .sidebar-menu .sidebar-submenu .item .logo { background-image:url('../images/dashboard/analytics_icons.png'); color:#888; width:30px; height:30px; float:left; margin-left:8px; margin-top:1px; }
	                #sidebar-menu .sidebar-menu .sidebar-submenu .item.active .logo,
                    #sidebar-menu .sidebar-menu .sidebar-submenu .item.active .logo-icon { color:#4DB339; }


				#sidebar-menu .sidebar-menu .sidebar-submenu .item .logo.users { background-position:-30px; }
				#sidebar-menu .sidebar-menu .sidebar-submenu .item.active .logo.users { background-position:0; }
				#sidebar-menu .sidebar-menu .sidebar-submenu .item .logo.sessions { background-position:-90px; }
				#sidebar-menu .sidebar-menu .sidebar-submenu .item.active .logo.sessions { background-position:-60px; }
				#sidebar-menu .sidebar-menu .sidebar-submenu .item .logo.frequency { background-position:-150px; }
				#sidebar-menu .sidebar-menu .sidebar-submenu .item.active .logo.frequency { background-position:-120px; }
				#sidebar-menu .sidebar-menu .sidebar-submenu .item .logo.country { background-position:-210px; }
				#sidebar-menu .sidebar-menu .sidebar-submenu .item.active .logo.country { background-position:-180px; }
				#sidebar-menu .sidebar-menu .sidebar-submenu .item .logo.devices { background-position:-270px; }
				#sidebar-menu .sidebar-menu .sidebar-submenu .item.active .logo.devices { background-position:-240px; }
				#sidebar-menu .sidebar-menu .sidebar-submenu .item .logo.carrier { background-position:-330px; }
				#sidebar-menu .sidebar-menu .sidebar-submenu .item.active .logo.carrier { background-position:-300px; }
				#sidebar-menu .sidebar-menu .sidebar-submenu .item .logo.loyalty { background-position:-390px; }
				#sidebar-menu .sidebar-menu .sidebar-submenu .item.active .logo.loyalty { background-position:-360px; }
				#sidebar-menu .sidebar-menu .sidebar-submenu .item .logo.app-versions { background-position:-450px; }
				#sidebar-menu .sidebar-menu .sidebar-submenu .item.active .app-versions { background-position:-420px; }
				#sidebar-menu .sidebar-menu .sidebar-submenu .item .logo.platforms { background-position:-510px; }
				#sidebar-menu .sidebar-menu .sidebar-submenu .item.active .logo.platforms { background-position:-480px; }
				#sidebar-menu .sidebar-menu .sidebar-submenu .item .logo.durations { background-position:-630px; }
		                #sidebar-menu .sidebar-menu .sidebar-submenu .item.active .logo.durations { background-position:-600px; }
                		#sidebar-menu .sidebar-menu .sidebar-submenu .item .logo.resolutions { background-position:-690px; }
		                #sidebar-menu .sidebar-menu .sidebar-submenu .item.active .logo.resolutions { background-position:-660px; }
				#sidebar-menu .sidebar-menu .sidebar-submenu .item .text { margin-left:17px; float:left; padding-top:8px; font:13px Ubuntu,Helvetica,sans-serif; line-height:111%; color:#666; text-shadow:none; }
				#sidebar-menu .sidebar-menu .sidebar-submenu .item.active .text { color:#4DB351; }
				#sidebar-menu .sidebar-menu .sidebar-submenu .item.help-toggle.active { color:#666; }

			#management-submenu.sidebar-submenu .item .logo { background-image:url('../images/dashboard/management_icons.png'); }
				.sidebar-submenu .item .logo.applications { background-position:-30px; }
				.sidebar-submenu .item.active .logo.applications { background-position:0; }
				.sidebar-submenu .item .logo.mgmt-users { background-position:-90px; }
				.sidebar-submenu .item.active .logo.mgmt-users { background-position:-60px; }
				.sidebar-submenu .item .logo.help { background-position:-120px; }

				#management-submenu.sidebar-submenu .disabled-item  { opacity:0.3; }
				#management-submenu.sidebar-submenu .disabled-item .logo { width:30px; height:30px; float:left; margin-left:8px; margin-top:1px; background-image:url('../images/dashboard/management_icons.png'); background-position:-90px; }
				#management-submenu.sidebar-submenu .disabled-item .text { margin-left:17px; float:left; padding-top:8px; font:13px Ubuntu,Helvetica,sans-serif; line-height:111%; color:#666; text-shadow:none; }

#sidebar-countly-version { color:#333; text-align:center; cursor:default; padding-bottom:6px; display:block; text-shadow:0 -1px #161616; font:13px Ubuntu,Helvetica,sans-serif; line-height:111%; }
#sidebar-event-count { float:right; border-radius:15px; font-family:Oswald; font-size:13px; color:#DDD; background-color:#333; border:1px solid #0C0C0C; box-shadow:0 1px 1px 0 #4A4A4A, inset 0 1px 1px 0 #1f1f1f; padding:2px 6px; margin:7px 10px 0 0; }
.item.active #sidebar-event-count { border-color:#6BB96E; box-shadow:0 0 1px 0 #ACE7B1, inset 0 1px 1px 0 #1f1f1f; }
/* SIDEBAR END */

/* DASHBOARD */
	#dashboard-graph { font-family:Oswald; text-shadow:none; font-size:14px; }
    #dashboard-graph .legendLabel,.graph .legendLabel { font-family:Ubuntu !important; font-size:14px !important; }
	.graph-key-event-label { z-index:2; font-family:Oswald; padding:2px 2px; cursor:pointer; text-shadow:none; width:15px; text-align:center; background-color:#6BB96E; color:#FFF; font-size:10px; border-radius:3px; font-weight:normal; opacity:0.8; }

	.widget { margin-bottom:16px; box-shadow:0 1px 1px 0 #D1D1D1; border-radius:7px; }
	.widget-no-shadow { box-shadow: none; } 
	.widget-header { position:relative; padding:4px 8px; height:41px; color:#666; text-shadow:0 1px #fff; font-size:13px; border-top-left-radius:7px; border-top-right-radius:7px; border:1px solid #979797; border-bottom:none; box-shadow:inset 0 1px 0 #F4F4F4; background-color:#E2E2E2; background-image:linear-gradient(top, #EAEAEA 30%, #E2E2E2 100%); background-image:linear-gradient(to bottom, #EAEAEA 30%, #E2E2E2 100%); }
			.widget-header .left { float:left; margin-top:2px; margin-left:2px; }
			.widget-header .right { float:right; margin-top:0px; margin-right:2px; padding: 2px; padding-top: 1px;}
			.widget-header .right input { height: 26px; }
			.widget-header>.title { font:19px Ubuntu,Helvetica,sans-serif; line-height:111%; color:#636363; text-shadow:0 1px #F6F6F6; float:left; }
			.widget-header .back { font:16px Ubuntu,Helvetica,sans-serif; line-height:111%; color:#636363; text-shadow:0 1px #F6F6F6; margin-right: 10px;}
			.widget-header .left>.title { font:19px Ubuntu,Helvetica,sans-serif; line-height:111%; color:#636363; text-shadow:0 1px #F6F6F6; float:left; padding-top:8px; float:left; margin-left:3px; }
			.widget-header .logo { float:left; width:38px; height:38px; background-image:url('../images/dashboard/anayltcs_header_icons.png'); }
            .widget-header .logo.font-logo { text-shadow: 0 1px #fdfdfd; color:#6E6E6E; background-image: none; height:31px; font-size: 25px; padding-top: 7px; text-align: center; }
            .widget-header .logo.font-logo2 { text-shadow: 0 1px #fdfdfd; color:#6E6E6E; background-image: none; height:31px; font-size: 25px; text-align: center; padding-top: 4px; }
                .widget-header .logo.font-logo>a { line-height: 10px; }
                .widget-header .logo.sessions { background-position:-38px; }
				.widget-header .logo.frequency { background-position:-76px; }
				.widget-header .logo.countries { background-position:-114px; }
				.widget-header .logo.devices { background-position:-152px; }
				.widget-header .logo.carriers { background-position:-190px; }
				.widget-header .logo.loyalty { background-position:-228px; }
				.widget-header .logo.app-versions { background-position:-266px; }
				.widget-header .logo.platforms { background-position:-304px; }
                		.widget-header .logo.durations { background-position:-380px; }
		                .widget-header .logo.resolutions { background-position:-418px; }
						.widget-header .logo.densities { background-position:-456px; }

	.widget-footer { text-align:right; min-height:10px; color:#666; text-shadow:0 1px #fff; font-size:11px; border-bottom-left-radius:5px; border-bottom-right-radius:5px; border:1px solid #C2C2C2; border-top:none; background-color:#FFF; box-shadow:inset 0 1px 0 #FFF; overflow:hidden; }
	.widget-content { background-color:#FFF; border:1px solid #A1A1A1; border-top-color:#B8B9B9; }
	.widget-intermediate { position: relative; border-radius:5px; border:1px solid #C2C2C2; background-color:#FFF; overflow:hidden; margin: 20px 0;} 
	.fix-two-columns { position:relative; } 

	#big-numbers-container { overflow:hidden; position:relative; }
	#big-numbers-container.dashboard { border:1px solid #C2C2C2; border-top-color:#B8B9B9; border-bottom:none; padding-bottom:8px; }
		.big-numbers { float:left; position:relative; }
		.widget-footer .big-numbers:first-child .inner { border-bottom-left-radius:7px; }
		.widget-footer .big-numbers:last-child .inner { border-bottom-right-radius:7px; }
		.big-numbers .inner { border-left:1px solid #C9C9C9; border-bottom:1px solid #A1A1A1; background-color:#F9F9F9; height:180px; text-align:center; }
			.widget-content .big-numbers .inner { height:190px; cursor:pointer; }
			.widget-footer .big-numbers .inner { height:100px; border-bottom:none; background-color:#f4f4f4; }
			.big-numbers.active .inner { background-color:#FFF; }
			.big-numbers:first-child .inner { border-left:none; }
			.big-numbers:last-child { position:absolute; right:0; border-left:none; }
		.big-numbers .select { padding-top:7px; font:13px Ubuntu,Helvetica,sans-serif; line-height:111%; color:#5B5B5B; text-shadow:0 1px #FFF; position:absolute; height:23px; width:100%; background-color:#D6D6D6; background-image:linear-gradient(top, #E1E1E1 20%, #D6D6D6 100%); background-image:linear-gradient(to bottom, #E1E1E1 20%, #D6D6D6 100%); box-shadow:inset 0 1px 0 #F6F6F6; }
			.big-numbers .select .title { max-width:156px; overflow:hidden; text-overflow:ellipsis; margin:0 auto; white-space:nowrap; }
			.widget-content .big-numbers .select { bottom:1px; border-top:1px solid #A1A2A2; cursor:pointer; }
			.widget-footer .big-numbers .select { top:0; border-bottom:1px solid #A1A2A2; position:relative; }
			.widget-content .big-numbers .select:hover,
			.widget-content .big-numbers:hover .select { background-color:#E0E0E0; background-image:linear-gradient(top, #EEEEEE 40%, #E0E0E0 100%); background-image:linear-gradient(to bottom, #EEEEEE 40%, #E0E0E0 100%); }
			.big-numbers.active .select:hover,
			.big-numbers.active:hover .select { background-color:#2B2B2B; background-image:linear-gradient(top, #484848 20%, #2B2B2B 100%); background-image:linear-gradient(to bottom, #484848 20%, #2B2B2B 100%); }
			.big-numbers.active .select { color:#EEE; text-shadow:0 -1px #333; background-color:#2B2B2B; background-image:linear-gradient(top, #484848 20%, #2B2B2B 100%); background-image:linear-gradient(to bottom, #484848 20%, #2B2B2B 100%); box-shadow:inset 0 1px 0 #5E5E5E; border-top-color:#404040; border-bottom:1px solid #616161; bottom:0; }
		.big-numbers .inner .logo { background-image:url('../images/dashboard/dashboard_icons.png'); width:60px; height:60px; margin:0 auto; }
			.big-numbers:nth-child(1) (1).active .logo { background-position:5px; }
			.big-numbers:nth-child(2) .inner .logo { background-position:-175px; }
			.big-numbers:nth-child(2).active .logo { background-position:-115px; }
			.big-numbers:nth-child(3) .inner .logo { background-position:-295px; }
			.big-numbers:nth-child(3).active .logo { background-position:-235px; }
			.big-numbers:nth-child(4) .inner .logo { background-position:-535px; }
			.big-numbers:nth-child(4).active .logo { background-position:-475px; }
			.big-numbers:nth-child(6) .inner .logo { background-position:-655px; }
			.big-numbers:nth-child(6).active .logo { background-position:-595px; }
            .big-numbers:nth-child(5) .inner .logo { background-position:-775px; }
            .big-numbers:nth-child(5).active .logo { background-position:-715px; }
		.big-numbers .number { font:30px Oswald; color:#666; text-shadow:0 1px #FFF; }
			.widget-content .big-numbers .number { margin-top:1px; }
			.widget-footer .big-numbers .number { margin-top:7px; }
			.big-numbers.active .number { color:#333; text-shadow:0 1px #FFF; }
		.big-numbers  .arrow { display:none; background-image:url('../images/dashboard/dashboard-arrow.png'); width:18px; height:8px; position:absolute; left:50%; z-index:2; margin-left:-9px; bottom:-6px; }
		.big-numbers.active .arrow { display:block; }
		.big-numbers .spark { margin-top:11px; }
		.big-numbers .color { height:5px; }
				.big-numbers:nth-child(1) .color { background-color:#88BBC8; }
				.big-numbers:nth-child(2) .color { background-color:#ED8662; }
				.big-numbers:nth-child(3) .color { background-color:#BEEB9F; }

		.widget-content .big-numbers .trend { width:12px; height:9px; right:7%; top:11px; position:absolute; }
		.widget-footer .big-numbers .trend { width:12px; height:9px; right:20px; top:62px; position:absolute; }
		.widget-content .big-numbers .change { right:15px; white-space:nowrap; top:-1px; position:absolute; font:10px Ubuntu,Helvetica,sans-serif; line-height:111%; color:#999; text-shadow:0 1px #FFF; }
			.big-numbers.active .change { color:#333; }

		.map-list { background-color:#FFF; height:323px; border:1px solid #A2A2A2; position: relative;}
			#geo-chart { text-align:center; padding-top:20px;}
			#geo-chart-outer { background-image:url('../images/dashboard/map_dotted_bg.png'); border-radius:7px;}
            #geo-chart {margin-left:-360px;}
            #geo-chart-outer>div {margin-left:50%;}
            .map-list #geo-chart {margin-left:-376px;}
            .map-list #geo-chart-outer>div {margin-left:50%; border-radius:7px;}
			#map-list-right { border-top-right-radius:0; border-bottom-right-radius:0; width:auto; float:right;  height:100%; margin-top:40px; margin-right:42px;}
            #map-list-right + #geo-chart-outer #geo-chart { margin-right:282px; }
            .geo-switch{position:relative;}
            .geo-switch .cly-button-group {position: absolute; top:0px; left:0px;}
            .geo-switch .cly-button-group .icon-button:first-child{border-bottom-left-radius:0; border-top-left-radius:0px; border-left:none;}
            .geo-switch .cly-button-group .icon-button:last-child{border-top-right-radius:0;}
            .geo-switch .cly-button-group .icon-button{border-top:none;}
            .map-list.geo-switch .cly-button-group .icon-button:first-child{border-top-left-radius:7px;}
			.map-list-item { overflow:hidden; padding:4px 12px; }
			.map-list-item:hover {}
			.map-list-item:last-child { border-bottom:none; }
			.flag { float:left; width:16px; height:11px; border-radius:2px; box-shadow:0 0 1px 0 #333; margin-top:5px; margin-right:10px; background-image:url('../images/flags/tr.png'); }
			.map-list-item .flag { margin-top:8px; }
			.map-list-item:hover .flag {}
			.map-list-item .total { float:right; color:#646464; text-shadow:0 1px #FFF; font:18px Oswald; margin-right:10px; line-height:145%; }
			.map-list .country-name { width:128px; text-overflow:ellipsis; white-space:nowrap; overflow:hidden; float:left; padding-top:4px; color:#646464; text-shadow:0 1px #FFF; font:16px Ubuntu,Helvetica,sans-serif; line-height:111%; }
			.map-list .bar { float:left; margin-left:10px; height:15px; margin-top:2px; background-color:#333; }

		.graph { font:14px Oswald; z-index:1; }
		.graph table tr:nth-child(n+10){ display:none; }
		#graph-tooltip { border:1px solid #1B1B1C; box-shadow:0 1px 1px 0 #B0B0B0, inset 0 1px 0 #727475; background-image:linear-gradient(top, #3947320 30%, #383B3C 100%); background-image:linear-gradient(to bottom, #3947320 30%, #383B3C 100%); padding:5px 7px; border-radius:2px; background-color:#3C3F40; opacity:0.80; color:#FFF; font:12px Oswald; display:none; position:absolute; z-index:100; }
		.pie-chart-container { float:left; width:50%; position:relative; height:360px; }
			.pie-chart-container .graph-segment-container { position:absolute; left:10px; top:10px; z-index:3; }
		.pie-overlay { position:absolute; z-index:2; width:248px; height:248px; left:50%; margin-left:-119px; top:56px; background-image:url('../images/dashboard/total-user.png'); background-position:center; background-repeat:no-repeat; }
		.pie-overlay  .title { font:14px Oswald; color:#7D7D7D; text-shadow:0 -1px #070707; margin:0 auto; text-align:center; margin-top:143px; max-width:100px; line-height:17px; }
		.pie-overlay.one { background-image:url('../images/dashboard/total-user.png'); }
		.pie-overlay.two { background-image:url('../images/dashboard/new-users.png'); }
		.pie-overlay.one.platforms { background-image:url('../images/dashboard/platforms.png'); }
		.pie-overlay.two.platforms { background-image:url('../images/dashboard/platform-versions.png'); }
		.pieLabel div { font-size:11px !important; }
/* DASHBOARD END */

/* APP NAVIGATION */
#app-management-bar { z-index:3; }
#app-management-bar #app-nav-head { padding-left:15px; }
#app-nav-title { overflow:hidden; text-overflow:ellipsis; white-space:nowrap; max-width:85px; float:left; padding-top:3px; }
#app-nav { width:190px; display:none; text-align:right; background-color:#CCC; height:100%; position:fixed; left:31px; z-index:997; background-image:url('../images/dashboard/dropdown_bg.png'); padding-bottom: 46px; box-sizing: border-box;}
#app-nav-head { height:27px; padding:20px; padding-left:32px; color:#BFBFBF; text-shadow:0 -1px #232323; font:18px Ubuntu,Helvetica,sans-serif; line-height:111%; background-image:url('../images/dashboard/dropdown_head.png'); text-align:left; }
	#app-nav-head .button-container { overflow:hidden; position:absolute; top:19px; right:10px; }
.app-container { cursor:pointer; height:30px; background-image:url('../images/dashboard/dropdown_item.png'); padding:8px 12px; padding-left:32px; overflow:auto; }
.app-container:hover { opacity:0.7; }
.app-container:last-child { margin-bottom:60px; }
	.app-container .logo { float:left; width:25px; height:25px; background-size:25px 25px; margin-top:1px; border-radius:5px; border:1px solid #555; box-shadow:0 0 1px 0 #333; background-position:center; }
	.app-container .name { width:126px; text-align:left; text-overflow:ellipsis; white-space:nowrap; overflow:hidden; float:left; margin-left:10px; padding-top:6px; color:#464646; text-shadow:0 1px #EAEAEA; font:13px Ubuntu,Helvetica,sans-serif; line-height:111%; }
	.new-app-name { width:300px; text-align:left; text-overflow:ellipsis; white-space:nowrap; overflow:hidden; }
	.app-container.app-navigate { position:relative; }
	.app-container.app-navigate .name { width:109px; }
	.app-container.app-navigate .drag { display:none; width:15px; height:13px; background-image:url('../images/dashboard/app-order.png'); cursor:move; position:absolute; top:17px; right:12px; }

#sort-app-button .icon { margin:0; width:21px; height:18px; background-image:url('../images/dashboard/app-order-activate.png'); }
/* APP NAVIGATION END */

#app-management-bar { width:190px; position:fixed; left:220px; top:0; text-align:right; background-color:#CCC; height:100%; background-image:url('../images/dashboard/dropdown_bg.png'); padding-bottom: 46px; box-sizing: border-box;}
#app-management-bar .app-container { padding-left:15px; }
#app-management-bar .app-container.active { background-image:url('../images/dashboard/dropdown_item_active.png'), url('../images/dashboard/dropdown_item.png'); background-repeat:no-repeat; background-position:right; }
#app-management-bar .app-container.active:hover { opacity:1; }

/* TABLES */
table.d-table { width:100%; padding:0; margin:0; border-radius:7px; border:1px solid #C2C2C2; border-top-color:#959595; margin-bottom:20px; }
table.d-table:not(.no-fix) { table-layout:fixed; }
    .d-table  th { padding:5px 10px; height:17px; color:#5B5B5B; font-weight:normal; font:13px Ubuntu,Helvetica,sans-serif; line-height:111%; text-shadow:0 1px #F1F1F1; background-color:#E2E2E2; box-shadow:inset 0 1px 0 #F6F6F6; text-align:left; border-bottom:1px solid #CCC; border-right:none; border-left:1px solid #ccc; background-color:#E2E2E2; background-image:linear-gradient(top, #EAEAEA 30%, #E2E2E2 100%); background-image:linear-gradient(to bottom, #EAEAEA 30%, #E2E2E2 100%); }
    .d-table  th:first-child { border-left:none; border-top-left-radius:7px; }
	.d-table  th:last-child { border-top-right-radius:7px; }
	.d-table  thead tr { background-color:transparent; }
	.d-table  td { padding:5px 10px; padding-bottom:7px; margin:0; border-bottom:1px solid #DDD; border-top:1px solid #fff; border-left:1px solid #ccc; color:#6B6B6B; }
	.d-table  td:first-child { border-left:none; font-weight:normal; }
	.d-table  tr { border-bottom:1px solid #DDD; border-top:1px solid #fff; font:15px Ubuntu,Helvetica,sans-serif; line-height:130%; background-color:#fff}
	.d-table  tr:first-child { border-top:none; }
	.d-table  tr:last-child { border-bottom:none; }
	.d-table  tr:nth-child(even){ background-color:#F9F9F9}
	.d-table  tr:hover { background-color:#f1f1f1; }
	.d-table  tr:last-child td { border-bottom:none; }
	.d-table  tr:last-child td:first-child { border-bottom-left-radius:7px; }
	.d-table  tr:last-child td:last-child { border-bottom-right-radius:7px; }
	.d-table .table-no-data { text-align:center; font:15px Ubuntu,Helvetica,sans-serif; line-height:111%; padding:20px; color:#CCC; }
	.d-table .table-no-data:hover { background-color:#FFF; }
.d-table.horizontal { border-radius:0; }
	.d-table.horizontal  tr:hover { background-color:#FFF; }
	.d-table.horizontal  tr:nth-child(even):hover { background-color:#F9F9F9; }
	.d-table.horizontal td:first-child { color:#669140; width:170px; }
	.d-table.horizontal tr:last-child td { border-radius:0; }
.table-edit { display:none; }
	.table-edit td, .table-add td { padding:10px; }
	.table-edit td { border-top:1px solid #DDD; }
	.table-edit .icon-button, .table-add .icon-button { float:right; padding:5px; margin-left:5px; }
	.table-edit-prev>td { border-bottom:none; }

.dataTable td { font-family:Oswald; font-size:12px; }
.sortable th { padding-top:6px; }
.d-table .shrink {width: 1%;}
.d-table .center{text-align: center;}

div.datatablesubrow {display: none;}
.d-table tr.selected {background-color: #D4ECD5;}

.d-table input[type=text] { margin:0; font:15px Ubuntu,Helvetica,sans-serif; line-height:111%; padding:3px; border:1px solid #DDD; width:274px; }

.dataTable { border-radius:0 !important; margin-bottom:0 !important; border-top-color:#C2C2C2 !important; }
.dataTable th { border-radius:0 !important; outline:none; cursor:pointer; }
.dataTable td { border-radius:0 !important; }
.dataTable-bottom, .dataTable-top { padding:0; overflow:auto; border-bottom-left-radius:7px; border-bottom-right-radius:7px; color:#4DB351; font-weight:normal; font:12px Ubuntu,Helvetica,sans-serif; line-height:111%; text-shadow:0 1px #F1F1F1; background-color:#E2E2E2; box-shadow:inset 0 1px 0 #F6F6F6; text-align:left; border:1px solid #CCC; border-top:none; background-color:#E2E2E2; background-image:linear-gradient(top, #EAEAEA 30%, #E2E2E2 100%); background-image:linear-gradient(to bottom, #EAEAEA 30%, #E2E2E2 100%); }
.dataTable-top { color:#BBB; transition:color 0.5s; border-radius:0; border-top-left-radius:7px; border-top-right-radius:7px; border:1px solid #CCC; border-top-color:#AAA; border-bottom:none; }
.dataTable-bottom { margin-bottom:15px; border-radius: 0; background-image: none; background-color: #E2E2E2; box-shadow: none; color: #AAA; }
.dataTable-top:hover { color:#888; transition:color 0.5s; }
.dataTable-top .dataTables_filter { float:left; padding-top:6px; display:none; }
.dataTable-top .dataTables_filter input { font-size:13px; margin:0; border-radius:15px; background-color:#FFF; border:1px solid #CCC; width:200px; transition:width 0.5s; outline:none; padding:2px 6px; }
.dataTable-top .DTTT_container { float:right; padding: 10px 0; }
.dataTable-top .DTTT_container a { margin-right:10px; }
.dataTable-top .DTTT_container a:hover { text-decoration:underline; }
.DTTT_container { visibility:hidden; }
.DTTT_container .DTTT_button { position:relative; display:inline-block; }
.DTTT_container .DTTT_button div>* { vertical-align:initial; }
.save-table-data { float:right; font-size:18px; padding:8px; cursor:pointer; }
.search-table-data { float:left; font-size:18px; padding:8px; cursor:pointer; }
.FixedHeader_Cloned .dataTable { border-bottom:none; }
.dataTable-bottom .dataTables_info { float:left; padding:2px 0 3px 10px; }
.dataTables_paginate { float:right; }
.dataTables_paginate span { display:inline-block; padding:4px 7px; font-size:25px; cursor:pointer; border-left:1px solid #CCC; }
.dataTable-bottom .dataTables_paginate span { font-size:18px; padding-right:5px; }
.dataTables_paginate span:hover { text-shadow:0 0 8px #BBB; }
.dataTables_paginate .paginate_disabled_previous { opacity:0.2; }
.dataTables_paginate .paginate_disabled_previous:hover { text-shadow:none !important; }
.dataTables_paginate .paginate_disabled_next { opacity:0.2; }
.dataTables_paginate .paginate_disabled_next:hover { text-shadow:none !important; }
.dataTable thead th.sorting_asc { background-image: url('../images/dashboard/table-arrow-down.png'); background-repeat:no-repeat; background-position:right center; }
.dataTable thead th.sorting_desc { background-image: url('../images/dashboard/table-arrow-up.png'); background-repeat:no-repeat; background-position:right center; }
.dataTable thead th.sorting { background-image: url('../images/dashboard/table-arrow.png'); background-repeat:no-repeat; background-position:right center; }
/* TABLES END */

.icon-button { min-height:14px; cursor:pointer; float:left; padding:5px 7px; border-radius:4px; font:13px Ubuntu,Helvetica,sans-serif; line-height:111%; overflow:auto; margin-left:8px; }
.icon-button:hover { opacity:0.8; }
.icon-button.light { color:#666; background-color:#E0E0E0; background-image:linear-gradient(top, #EEEEEE 40%, #E0E0E0 100%); background-image:linear-gradient(to bottom, #EEEEEE 40%, #E0E0E0 100%); border:1px solid #A5A5A5; text-shadow:0 1px #FFF; box-shadow:inset 0 1px 0 #FDFDFD; }
.icon-button.light:active, .icon-button.light.active { color:#888; background-color:#EEEEEE; background-image:linear-gradient(top, #E0E0E0 40%, #EEEEEE 100%); background-image:linear-gradient(to bottom, #E0E0E0 40%, #EEEEEE 100%); }
.icon-button.disabled { opacity:0.5; }
.icon-button.dark { background-color:#292929; color:#BFBFBF; background-image:linear-gradient(top, #3E3E3E 40%, #292929 100%); background-image:linear-gradient(to bottom, #3E3E3E 40%, #292929 100%); border:1px solid #1B1B1B; text-shadow:0 -1px #232323; box-shadow:inset 0 1px 0 #777777; }
.icon-button.dark:active, .icon-button.dark.active { background-color:#3E3E3E; background-image:linear-gradient(top, #292929 40%, #3E3E3E 100%); background-image:linear-gradient(to bottom, #292929 40%, #3E3E3E 100%); }
.icon-button.dark.active:hover { opacity:1; }
	.icon-button .icon { float:left; margin-right:7px; background-repeat:no-repeat; }
	.icon-button .text { float:right; padding-top:2px; }
.icon-button.create-report,.icon-button.create-report.disabled:active, .icon-button.green, .icon-button.green.disabled:active { background-color:#43A947; background-image:linear-gradient(top, #4CC04F 10%, #43A947 100%); background-image:linear-gradient(to bottom, #4CC04F 10%, #43A947 100%); border:1px solid #2C6B2E; color:#FFF; box-shadow:inset 0 1px 0 #58DE5D; text-shadow:0 -1px #3D9A41; }
.icon-button.create-report:active, .icon-button.green:active { background-color:#4CC04F; background-image:linear-gradient(top, #43A947 10%, #4CC04F 100%); background-image:linear-gradient(to bottom, #43A947 10%, #4CC04F 100%); }
.icon-button.delete-app, .icon-button.red, .icon-button.delete-app.disabled:active, .icon-button.red.disabled:active  { background-color:#D63E40; background-image:linear-gradient(top, #E95C6C 10%, #D63E40 100%); background-image:linear-gradient(to bottom, #E95C6C 10%, #D63E40 100%); border:1px solid #AD0303; color:#FFF; box-shadow:inset 0 1px 0 #F196A0; text-shadow:0 -1px #AD434B; }
.icon-button.delete-app:active, .icon-button.red:active { background-color:#E95C6C; background-image:linear-gradient(top, #D63E40 10%, #E95C6C 100%); background-image:linear-gradient(to bottom, #D63E40 10%, #E95C6C 100%); }
.icon-button i { margin-right:3px; }

.button .back{ color: #666; cursor:pointer; user-select:none; background-color:#E0E0E0; background-image:linear-gradient(top, #EEEEEE 40%, #E0E0E0 100%); background-image:linear-gradient(to bottom, #EEEEEE 40%, #E0E0E0 100%); float:left; padding:8px 20px; padding-top:7px; border:1px solid #A5A5A5; box-shadow:inset 0 1px 0 #FDFDFD; border-radius: 4px; font: 13px Ubuntu,Helvetica,sans-serif; margin-top: 5px; margin-right: -5px;}
.button .back:hover { background-color:#F9F9F9; background-image:linear-gradient(top, #F9F9F9 40%, #E0E0E0 100%); background-image:linear-gradient(to bottom, #F9F9F9 40%, #E0E0E0 100%); }
.button .back:active  { background-color:#E0E0E0; background-image:linear-gradient(top, #E0E0E0 40%, #F9F9F9 100%); background-image:linear-gradient(to bottom, #E0E0E0 40%, #F9F9F9 100%); }
.button .back i{position: relative; top: 1px; left: -7px;}

#date-selector { float:right; font:13px Ubuntu,Helvetica,sans-serif; line-height:111%; color:#6B6B6B; text-shadow:0 1px #F6F6F6; padding:6px; padding-right:0; overflow:auto; user-select:none; }
	#date-selector .button { cursor:pointer; user-select:none; background-color:#E0E0E0; background-image:linear-gradient(top, #EEEEEE 40%, #E0E0E0 100%); background-image:linear-gradient(to bottom, #EEEEEE 40%, #E0E0E0 100%); float:left; padding:7px 5px; padding-top:6px; border:1px solid #A5A5A5; border-left:1px solid #747575; box-shadow:inset 0 1px 0 #FDFDFD; border-right:1px solid #EDEDED; }
	#date-selector .button:nth-child(3) { border-top-left-radius:4px; border-bottom-left-radius:4px; }
	#date-selector .button:last-child { border-top-right-radius:4px; border-bottom-right-radius:4px; border-right:1px solid #747575; }
	#date-selector .button:hover { background-color:#F9F9F9; background-image:linear-gradient(top, #F9F9F9 40%, #E0E0E0 100%); background-image:linear-gradient(to bottom, #F9F9F9 40%, #E0E0E0 100%); }
	#date-selector .button:active  { background-color:#E0E0E0; background-image:linear-gradient(top, #E0E0E0 40%, #F9F9F9 100%); background-image:linear-gradient(to bottom, #E0E0E0 40%, #F9F9F9 100%); }
	#date-selector .button.active,
	#date-selector>.calendar { background-color:#3C3C3C; background-image:linear-gradient(top, #3C3C3C 10%, #717171 100%); background-image:linear-gradient(to bottom, #3C3C3C 10%, #717171 100%); box-shadow:inset 0 0 1px 0 #2D2D2D; color:#FFF; border-color:#202020; text-shadow:0 -1px #333; }
	#date-selector>.calendar { background-color:#3C3C3C; cursor:pointer; background-image:url('../images/dashboard/date-time-icon.png'), linear-gradient(top, #3C3C3C 10%, #717171 100%); background-image:url('../images/dashboard/date-time-icon.png'), linear-gradient(to bottom, #3C3C3C 10%, #717171 100%); background-repeat:no-repeat; background-position:center; float:left; border-radius:4px; margin-right:10px; width:29px; height:29px; }

#date-picker, .date-picker { display:none; position:absolute; z-index:1000; margin-top:38px; margin-left:-174px; padding:2px 3px 6px 3px; background-color:rgba(85,85,85,1); border:1px solid #333; box-shadow:inset 0 0 0 1px #777; border-radius:5px; background-image:url('../images/dashboard/calendar_bg.png'); }
	#date-picker .tip, .date-picker .tip { width:14px; margin:0 auto; margin-top:-10px; height:9px; background-image:url('../images/dashboard/calendar_tip.png'); z-index:20; }
	#date-picker .calendar-container, .date-picker .calendar-container { overflow:auto; box-shadow:inset 0 0 1px 1px #999, 0 1px 0 0 #777; padding:6px; background-color:#CCC; border-radius:4px; border:1px solid #333; margin:3px; margin-top:5px; }
	#date-picker .calendar-container .calendar, .date-picker .calendar-container .calendar { float:left; margin-right:6px; border:1px solid #666; border-radius:3px; }
    	#date-picker .calendar-container .calendar:nth-child(2) { margin-right:0; }
	#date-picker .button-container { overflow:auto; margin-top:6px; padding:3px; }
#date-picker-button:hover { box-shadow:0 0 5px 2px #fff; }

.two-column .big-numbers { width:50%; }
.one-column .big-numbers { width:100%; position:relative; }

.three-column { width:33%; }
.three-column:nth-child(2) { width:34%; }
.three-column:last-child { width:34%; }

.six-column { width:17%; }
.six-column:first-child { width:16%; }
.six-column:last-child { width:17%; }

.four-column { width:25%; }
.five-column { width:20%; }

.sticky-header.hide { display:none; }
.sticky-header { top:0; position:fixed; }
.sticky-header table { border-bottom:none; box-shadow:0 1px 1px 0 #666; border-radius:0; }

.tickLabel { text-shadow:0 1px #FFF; color:#999; }

/* DATEPICKER */
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	border:none; border-left:1px solid #F8F8F8; border-top:1px solid #F8F8F8; color:#424242; font-size:11px;
	padding:5px 4px; background-color:#EEEEEE; text-align:center; background-image:linear-gradient(top, #EEEEEE 20%, #DEDEDE 100%); background-image:linear-gradient(to bottom, #EEEEEE 20%, #DEDEDE 100%); text-shadow:0 1px #F2F2F2; border-radius:0; }
.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled { border-right-color:#DADADA; }
.ui-widget-content .ui-state-hover { background-color:#CCC; border-color:#CCC; background-image:linear-gradient(top, #CCC 20%, #AAA 100%); background-image:linear-gradient(to bottom, #CCC 20%, #AAA 100%); color:#424242; text-shadow:none; background-image:none; }
.ui-widget-content .ui-state-active { background-color:#EEEEEE; color:#424242; border-color:#F8F8F8; text-shadow:none; background-image:url('../images/dashboard/calendar_seleted.png'), linear-gradient(top, #EEEEEE 20%, #DEDEDE 100%); background-image:url('../images/dashboard/calendar_seleted.png'), linear-gradient(to bottom, #EEEEEE 20%, #DEDEDE 100%); background-repeat:no-repeat; background-position:center; }
.ui-datepicker td { padding:0; border:1px solid #BABABA; border-left:none; }
.ui-datepicker th { font-weight:normal; font-size:10px; }
.ui-datepicker-inline table { margin:0; font-weight:normal; background-color:#FFF; width:100%; border-radius:3px; }
.ui-datepicker-group-last .ui-datepicker-calendar {}
.ui-datepicker { width:170px ! important; background-color:default; border:none; }
.ui-widget-header { font-family:Oswald; border-radius:0; border-top-left-radius:2px; border-top-right-radius:2px; border:none; background-color:#5CA21C; background-image:linear-gradient(top, #4FC253 6%, #5EA260 100%); background-image:linear-gradient(to bottom, #4FC253 6%, #5EA260 100%); color:#FFF; text-shadow:0 -1px #5EA260; font-weight:normal; font-size:13px; border-bottom:1px solid #4D844E; height:23px; }
.ui-datepicker { font-weight:normal; font-family:Ubuntu,Helvetica,sans-serif; line-height:111%; overflow:auto; }
.ui-widget-content { background-color:transparent; background-image:none; padding:0; }
.ui-datepicker-calendar thead { box-shadow:inset 0 0 1px 0 #FFF; background-color:#F7F7F7; font-weight:normal; border-bottom:1px solid #BBBBBB; }
.ui-datepicker-calendar thead th { height:15px; border-radius: 0 !important; text-align: center; color:#8E8E8E; border:none; background-image:linear-gradient(top, #F7F7F7 20%, #F1F1F1 100%) !important; background-image:linear-gradient(to bottom, #F7F7F7 20%, #F1F1F1 100%) !important; }
.ui-datepicker-calendar tr { line-height: 111%; }
.ui-datepicker-calendar tr:last-child td { border-bottom:none; }
.ui-datepicker-calendar td:last-child { border-right:none; }
.ui-datepicker-calendar tr:last-child td:first-child { border-bottom-left-radius:3px; }
.ui-datepicker-calendar tr:last-child td:first-child a { border-bottom-left-radius:3px; }
.ui-datepicker-calendar tr:last-child td:first-child span { border-bottom-left-radius:3px; }
.ui-datepicker-calendar tr:last-child td:last-child { border-bottom-right-radius:3px; }
.ui-datepicker-calendar tr:last-child td:last-child a { border-bottom-right-radius:3px; }
.ui-datepicker-calendar tr:last-child td:last-child span { border-bottom-right-radius:3px; }
/*.ui-datepicker-group-first .ui-datepicker-calendar { border-right:1px solid #AAA; }*/
.ui-datepicker-multi-2 .ui-datepicker-group { width:154px; margin:5px; box-shadow:0 1px 1px 1px #000; border-radius:3px; }
.ui-datepicker th { padding:4px 3px; }

.ui-corner-all.ui-state-hover { background-color:transparent; border:none; cursor:pointer; }
.ui-datepicker-prev.ui-state-hover { left:1px; top:2px; }
.ui-datepicker-next.ui-state-hover { right:1px; top:2px; }
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next { width:15px; margin-top:1px; }
.ui-widget-header .ui-icon { background-image:url('../images/dashboard/calendar_arrows.png'); }
.ui-icon-circle-triangle-w { background-position:0 !important; width:11px; margin:0 auto; }
.ui-icon-circle-triangle-e { background-position:-11px !important; width:11px; margin:0 auto; }
.ui-datepicker .ui-datepicker-title { line-height:1.6em; }
/* DATEPICKER END */

/* FORMS */
.cly-button-dark { color:#DDD; text-shadow:0 -1px #222; background-color:#292929; background-image:linear-gradient(top, #3E3E3E 40%, #292929 100%); background-image:linear-gradient(to bottom, #3E3E3E 40%, #292929 100%); border:1px solid #1B1B1B; box-shadow:inset 0 1px 0 #777777; cursor:pointer; float:left; padding:5px 10px; border-radius:4px; font:13px Ubuntu,Helvetica,sans-serif; line-height:111%; }
.cly-button-dark:hover { opacity:0.9; }
.cly-button-dark:active,.cly-button-dark.active { background-color:#3E3E3E; background-image:linear-gradient(top, #292929 40%, #3E3E3E 100%); background-image:linear-gradient(to bottom, #292929 40%, #3E3E3E 100%); box-shadow:inset 0 1px 0 #444; }

.dashboard-summary { margin-bottom:16px; overflow:auto; }
	.dashboard-summary .item { float:left; font-family:Oswald; width:25%; }
	.dashboard-summary.four .item { width:25%; }
	.dashboard-summary.three .item { width:33%; }
	.dashboard-summary.three .item:nth-child(2) { width:34%; }
	.dashboard-summary .inner { background-color:#3C3C3C; padding:10px; border-radius:7px; background-image:linear-gradient(top, #3C3C3C 10%, #2A2A2A 100%); background-image:linear-gradient(to bottom, #3C3C3C 10%, #2A2A2A 100%); margin-left:5px; }
	.dashboard-summary .item:first-child  .inner { margin-left:0; }
	.dashboard-summary .item:first-child .inner { border-left:none; }
	.dashboard-summary .item:last-child .inner { border-right:none; }
	.dashboard-summary .item .title { font:12px Ubuntu,Helvetica,sans-serif; line-height:111%; text-align:center; color:#FFF; text-transform:uppercase;}
	.dashboard-summary .item .bar { width:80%; height:6px; padding-top:2px; padding-bottom:2px; overflow:auto; border-radius:5px; background-color:transparent; margin:0 auto; margin-top:5px; margin-bottom:5px; }
		.dashboard-summary .item .bar .bar-inner { background-color:#6BB96E; width:40%; float:left; height:6px; cursor:pointer; box-shadow:inset 2px 0 0 0 #333 }
			.dashboard-summary .item .bar .bar-inner:hover { margin-bottom:-1px; margin-top:-1px; height:8px; }

		.dashboard-summary .item .bar .bar-inner:first-child { box-shadow:none; border-top-left-radius:5px; border-bottom-left-radius:5px; }
		.dashboard-summary .item .bar .bar-inner:last-child { border-top-right-radius:5px; border-bottom-right-radius:5px; }
		.dashboard-summary .item .bar .bar-inner:nth-child(2) { background-color:#86CBDD; width:42%; }
		.dashboard-summary .item .bar .bar-inner:nth-child(3) { background-color:#EC8C45; width:16%; }

	.dashboard-summary .item .number { font-size:26px; text-align:center; color:#6BB96E; line-height:33px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; }
	.dashboard-summary .item .no-data { font:18px Ubuntu,Helvetica,sans-serif; line-height:111%; text-align:center; color:#222; padding-bottom:12px; padding-top:20px; font-weight:500; }

.cly-select { background-color:#F0F0F0; user-select:none; display:inline-block; width:135px; height:27px; background-image:linear-gradient(top, #F0F0F0 10%, #E3E3E3 100%); background-image:linear-gradient(to bottom, #F0F0F0 10%, #E3E3E3 100%); border:1px solid #B5B5B5; border-radius:6px; box-shadow:inset 0 1px 0 0 #FFF; cursor:pointer; }
    .cly-select.req { border-color:#E95C6C; }
    .cly-select.dark { border-color:#666; }
    .cly-select.disabled { opacity: 0.4 !important; cursor: default; }
    .cly-select.centered, .cly-select.centered .text { text-align: center; }
    .cly-select.centered .text { padding-right:9px; }
	.cly-select .select-inner { position:relative; width:100%; height:100%; }
	.cly-select:hover { box-shadow:inset 0 0 2px 0 #FFF; }
    .cly-select.disabled:hover { box-shadow:inset 0 1px 0 0 #FFF; }
	.cly-select.active { border-bottom-left-radius:0; border-bottom-right-radius:0; }
	.cly-select.active .right { border-bottom-right-radius:0; }
    .cly-select .search { z-index:2; background-color: #F5F5F5; width:100%; position:relative; border:1px solid #B5B5B5; border-bottom:none; margin-left:-1px; cursor:default; overflow:auto; display:table; }
        .cly-select .search .icon-search { position: absolute; right:5px; top:5px; color:#CCC; font-size: 10px; }
        .cly-select .search .inner { position:relative; margin:5px 8px; padding:4px 6px; padding-right:20px; background-color:#FFF; border-radius: 10px; border:1px solid #CCC; font:13px Ubuntu; line-height:111%; }
        .cly-select .search input { height:14px; padding:0; margin:0; border:none; outline:none; width:100%; font:13px Ubuntu; line-height:111%; }
    .cly-select .select-items { box-shadow:inset 0 -1px 0 0 #B5B5B5; z-index:1000; display:none; position:absolute; margin-left:-1px; border-radius:5px; background-color:#F5F5F5; border:1px solid #B5B5B5; border-bottom:none; border-radius:6px; border-top-left-radius:0; border-top-right-radius:0; width:135px; }
    .cly-select.dark .select-items { border-color:#666; }
    .cly-select .select-items.square { border-radius:0; }
	.cly-select .select-items.square .item:last-child { border-radius:0; }
	.cly-select .select-items .scroll-list {  max-height:189px; }
	.cly-select .select-items .item { text-overflow:ellipsis; overflow:hidden; white-space:nowrap; color:#666; font-weight:normal; border-bottom:1px solid #B5B5B5; font:13px Ubuntu,Helvetica,sans-serif; line-height:111%; text-shadow:0 1px #fff; padding:5px 9px; padding-bottom:7px; }
    .cly-select.dark .select-items .item { border-color:#888; }
    .cly-select .select-items .item.hidden { display:none; }
    .cly-select .flag { opacity:0.8; width:16px; height:11px; border-radius:2px; box-shadow:0 0 1px 0 #333; margin-right:8px; margin-top:2px; float:left; }
		.cly-select .select-items .item:hover { background-color:#444; color:#FFF; text-shadow:0 1px #555; border-top-color:#444; margin:-1px; padding:6px 10px; padding-bottom:8px; }
		.cly-select .select-items .item:hover .flag { box-shadow:0 0 0 1px #000; }
		.cly-select .select-items .item:last-child { border-bottom-left-radius:6px; border-bottom-right-radius:6px; }
	.cly-select .text-container { float:left; width:100%; }
		.cly-select .text { padding:6px 9px; padding-right:25px; text-overflow:ellipsis; overflow:hidden; white-space:nowrap; color:#444; font-weight:normal; font:13px Ubuntu,Helvetica,sans-serif; line-height:111%; text-shadow:0 1px #F1F1F1; }
	.cly-select .right { opacity: 0.8; background-color:#E2E2E2; right:0; position:absolute; width:20px; height:100%; border-top-right-radius:5px; border-bottom-right-radius:5px; background-image:linear-gradient(top, #E2E2E2 10%, #D1D1D1 100%); background-image:linear-gradient(to bottom, #E2E2E2 10%, #D1D1D1 100%); border-left:1px solid #C5C6C6; box-shadow:inset 1px 0 0 0 #eee, inset 0 1px 0 0 #fff; background-repeat:no-repeat; background-position:center; padding:0px;}
    .cly-select .right:hover { opacity: 1; }
		.cly-select .right.combo { background-color:#E2E2E2; background:url('../images/dashboard/combo-arrow.png') 6px 7px no-repeat, linear-gradient(top, #E2E2E2 10%, #D1D1D1 100%); background:url('../images/dashboard/combo-arrow.png') 6px 7px no-repeat, linear-gradient(to bottom, #E2E2E2 10%, #D1D1D1 100%) 0 0; }
		.cly-select .right.date { background-color:#E2E2E2; background-image:url('../images/dashboard/date-time.png'), linear-gradient(top, #E2E2E2 10%, #D1D1D1 100%); background-image:url('../images/dashboard/date-time.png'), linear-gradient(to bottom, #E2E2E2 10%, #D1D1D1 100%); }
	.cly-select .slimScrollBar.ui-draggable { cursor:default; }

.cly-text-select { display:inline-block; height:27px; }
.cly-text-select input { margin-left:-1px; width:194px; height:27px; color:#444; font-weight:normal; font:13px Ubuntu,Helvetica,sans-serif; border:1px solid #B5B5B5; border-radius:3px; padding:0 8px; display:inherit; outline:none; }
.cly-text-select.req { border-color:#E95C6C; }
.cly-text-select.dark { border-color:#666; }
.cly-text-select.disabled { opacity: 0.4 !important; cursor: default; }
.cly-text-select .select-inner { position:relative; width:100%; height:100%; }
.cly-text-select.active { border-bottom-left-radius:0; border-bottom-right-radius:0; }
.cly-text-select.active .right { border-bottom-right-radius:0; }
.cly-text-select .select-items { box-shadow:inset 0 -1px 0 0 #B5B5B5; z-index:1000; display:none; position:absolute; margin-left:-1px; border-radius:5px; background-color:#F5F5F5; border:1px solid #B5B5B5; border-bottom:none; border-radius:6px; border-top-left-radius:0; border-top-right-radius:0; width:135px; }
.cly-text-select.dark .select-items { border-color:#666; }
.cly-text-select .select-items.square { border-radius:0; }
.cly-text-select .select-items.square .item:last-child { border-radius:0; }
.cly-text-select .select-items .scroll-list {  max-height:189px; }
.cly-text-select .select-items .item { text-overflow:ellipsis; overflow:hidden; white-space:nowrap; color:#666; font-weight:normal; border-bottom:1px solid #B5B5B5; font:13px Ubuntu,Helvetica,sans-serif; text-shadow:0 1px #fff; padding:5px 9px; padding-bottom:7px; }
.cly-text-select.dark .select-items .item { border-color:#888; }
.cly-text-select .select-items .item.hidden { display:none; }
.cly-text-select .flag { opacity:0.8; width:16px; height:11px; border-radius:2px; box-shadow:0 0 1px 0 #333; margin-right:8px; margin-top:2px; float:left; }
.cly-text-select .select-items .item:hover { background-color:#444; color:#FFF; text-shadow:0 1px #555; border-top-color:#444; margin:-1px; padding:6px 10px; padding-bottom:8px; }
.cly-text-select .select-items .item:hover .flag { box-shadow:0 0 0 1px #000; }
.cly-text-select .select-items .item:last-child { border-bottom-left-radius:6px; border-bottom-right-radius:6px; }
.cly-text-select .text-container { float:left; width:100%; }
.cly-text-select .right { opacity: 0.8; background-color:#E2E2E2; right:0; position:absolute; width:20px; height:100%; border-top-right-radius:5px; border-bottom-right-radius:5px; background-image:linear-gradient(top, #E2E2E2 10%, #D1D1D1 100%); background-image:linear-gradient(to bottom, #E2E2E2 10%, #D1D1D1 100%); border-left:1px solid #C5C6C6; box-shadow:inset 1px 0 0 0 #eee, inset 0 1px 0 0 #fff; background-repeat:no-repeat; background-position:center; }
.cly-text-select .right:hover { opacity: 1; }
.cly-text-select .right.combo { background-color:#E2E2E2; background:url('../images/dashboard/combo-arrow.png') 6px 7px no-repeat, linear-gradient(top, #E2E2E2 10%, #D1D1D1 100%); background:url('../images/dashboard/combo-arrow.png') 6px 7px no-repeat, linear-gradient(to bottom, #E2E2E2 10%, #D1D1D1 100%); }
.cly-text-select .right.date { background-color:#E2E2E2; background-image:url('../images/dashboard/date-time.png'), linear-gradient(top, #E2E2E2 10%, #D1D1D1 100%); background-image:url('../images/dashboard/date-time.png'), linear-gradient(to bottom, #E2E2E2 10%, #D1D1D1 100%); }
.cly-text-select .slimScrollBar.ui-draggable { cursor:default; }

.read {}
	.read .flag { margin-top:4px; }
	.read .country { float:left; margin-right:8px; }
	.read .timezone { float:left; }
	.read .logo { float:left; height:25px; width:25px; background-size:25px 25px; background-image:url('../images/dashboard/date-time.png'); margin-top:1px; border-radius:5px; border:1px solid #555; box-shadow:0 0 1px 0 #333; background-position:center; }
.edit { display:none; }

#sidebar-new-app { display:none; }

.required { font-size:20px; color:#B94A48; vertical-align:top; display:none; padding-left:2px; }
.red-text { font-size:12px; color:#B94A48; vertical-align:text-top; padding-left:5px; }
.green-text { font-size:12px; color:#50C354; vertical-align:text-top; padding-left:5px; }
.required-color { color:#B94A48 !important; }

#overlay { display:none; background-color:#000; opacity:0.2; width:100%; height:100%; position:fixed; z-index:1001; top:0; }
.dialog { display:none; position:fixed; max-width:368px; left:50%; top:50%; background-color:#FFF; border:1px solid #999; box-shadow:0 0 10px 0 #666; border-radius:3px; z-index:1002; }
	.dialog.events { max-width:850px; }
	.dialog.red { border:1px solid #AD0303; }
	.dialog.green { border:1px solid green; }
	.dialog.black { border:1px solid #000; }
	.dialog .indicator { height:7px; margin-bottom:10px; border-top-left-radius:2px; border-top-right-radius:2px; }
	.events .indicator { margin-bottom:0; }
	.dialog.red .indicator { background-color:#D63E40; border-bottom:1px solid #AD0303; box-shadow:inset 0 1px 0 #c; }
	.dialog.green .indicator { background-color:green; border-bottom:1px solid green; box-shadow:inset 0 1px 0 #c; }
	.dialog.black .indicator { background-color:#666; border-bottom:1px solid #000; box-shadow:inset 0 1px 0 #999; }
	.dialog .message { color:#333; font:15px Ubuntu,Helvetica,sans-serif; line-height:111%; padding:0 10px; }
	.dialog .buttons { margin-top:15px; overflow:auto; padding:10px; padding-top:0; }
	.dialog .buttons .icon-button { float:right; overflow:initial; }
	.dialog.red #dialog-continue { background-color:#D63E40; background-image:linear-gradient(top, #E95C6C 10%, #D63E40 100%); background-image:linear-gradient(to bottom, #E95C6C 10%, #D63E40 100%); border:1px solid #AD0303; color:#FFF; box-shadow:inset 0 1px 0 #F196A0; text-shadow:0 -1px #AD434B; }
		.dialog.red #dialog-continue:active { background-color:#E95C6C; background-image:linear-gradient(top, #D63E40 10%, #E95C6C 100%); background-image:linear-gradient(to bottom, #D63E40 10%, #E95C6C 100%); }
	.dialog input[type=text], .dialog input[type=password] { margin:0; font:15px Ubuntu,Helvetica,sans-serif; line-height:111%; padding:3px; border:1px solid #DDD; }
	.dialog .result-message { float:left; margin-top:6px; font:italic 13px Ubuntu,Helvetica,sans-serif; line-height:111%; }
	.dialog .result-message.red { color:#D63E40; }
	.dialog .result-message.green { color:#6BB96E; }
	.dialog .message .title { margin-bottom:8px; }
	.dialog .message .input input { width:280px; }

#new-install-overlay { display:none; z-index:1; position:absolute; width:100%; height:100%; background-color:#000; opacity:0.6; margin-left:-2px; }
.alert { font-family:Ubuntu,Helvetica,sans-serif; line-height:111%; border-radius:4px; padding:8px 14px; text-shadow:0 1px 0 rgba(255, 255, 255, 0.5); }
	.alert.danger { color:#B94A48; background-color:#F2DEDE; border:1px solid #EED3D7; }
	.alert.success { color:#468847; background-color:#DFF0D8; border:1px solid #D6E9C6; }

/* USER MANAGEMENT */
.manage-user { padding:10px; }
#user-table { border-bottom-left-radius:0; border-bottom-right-radius:0; }
#user-table tr { font-size:14px; }
#user-table .help-edit { font-size:11px; display:none; position:absolute; right:3px; top:2px; background-color: #F1F1F1; padding: 1px 1px 1px 15px; line-height: 130%; }
#user-table .help-close { font-size:11px; display:none; position:absolute; right:3px; top:2px; background-color: #FFF; padding: 1px 1px 1px 15px; line-height: 130%; }
#user-table tr:first-child td { border-bottom:none; border-top:none; }
#user-table tr.active { opacity:1 !important; }
#user-table tr:hover .help-edit { display:block; }
#user-table tr.active:hover { background-color:#FFF; }
#user-table tr.active:hover .help-edit { display:none; }
#user-table tr.active:hover .help-close { display:block; }
#user-table tr td { border-bottom:none; border-top:1px solid #CCC; border-radius:0; }
#user-table tr.user-details { display:none; overflow:auto; }
#user-table tr.user-details td { padding:0; }
#user-table tr td>div { position:relative; }
#user-table tr.user-details td>div { border-top:5px solid #E8E8E8; border-left:10px solid whiteSmoke; border-right:10px solid whiteSmoke; margin-left:-2px; padding-bottom:45px; margin-right:-2px; box-shadow:inset 2px 0 0 -1px #DDD, inset -2px 0 0 -1px #DDD, inset 0 2px 0 -1px #DDD; position:relative; }
#user-table tr:last-child td>div { margin-bottom:-2px; }
#user-table tr.user-details { background-color:#f9f9f9; }
#user-table tr.user-details:hover { background-color:#f9f9f9; }
#listof-apps { width:200px; display:none; position:absolute; margin-top:12px; z-index:1000; padding:5px; padding-bottom:7px; background-color:rgba(85,85,85,1); border:1px solid #333; box-shadow:inset 0 0 0 1px #777; border-radius:5px; background-image:url('../images/dashboard/calendar_bg.png'); }
	#listof-apps .button-container { overflow:auto; margin-top:5px; }
	#listof-apps .button-container .icon-button { float:right; font-size:11px; }
	#listof-apps .scrollable { min-height:36px; max-height:221px; overflow:auto; box-shadow:inset 0 0 1px 1px #999, 0 1px 0 0 #777; background-color:#CCC; border:1px solid #333; }
	#listof-apps .tip { position:absolute; width:14px; left:18px; margin-top:-13px; height:9px; background-image:url('../images/dashboard/calendar_tip.png'); z-index:20; }
	#listof-apps .app { float:left; width:182px; border-bottom:1px solid #999; padding:8px; overflow:auto; background-color:#EEE; box-shadow:inset 0 0 1px 1px #F9F9F9; cursor:pointer; color:#333; text-shadow:0 1px #FFF; }
	#listof-apps .app:first-child.selected { box-shadow:none; }
	#listof-apps .app:last-child { border-bottom:none; }
	#listof-apps .app.disabled { opacity:0.5; cursor:default; }
	#listof-apps .app.disabled:hover { opacity:0.5; }
	#listof-apps .app.selected { background-color:#80C582; background-image:linear-gradient(top, #80C582 10%, #80C582 100%); background-image:linear-gradient(to bottom, #80C582 10%, #80C582 100%); border-color:#2C6B2E; box-shadow:inset 0 1px 0 #C7DAC7; text-shadow:0 1px #C7DAC7; }
	#listof-apps .app:hover { opacity:0.8; }
	#listof-apps .app .image { background-size:20px 20px; float:left; margin-right:8px; border-radius:2px; box-shadow:0 0 1px 0 #333; width:20px; height:20px; background-position:center; }
	#listof-apps .app .name { float:left; font:13px Ubuntu,Helvetica,sans-serif; line-height:111%; padding-top:2px; text-overflow:ellipsis; white-space:nowrap; overflow:hidden; width:90px; }
	#listof-apps #deselect-all.icon-button, #listof-apps .btn-deselect-all.icon-button { display:none; max-width: none; }
	#listof-apps #done { margin-left:5px; }
.user-details .button-container { overflow:auto; bottom:8px; right:16px; position:absolute; }
	.user-details .row { overflow:auto; border-top:1px solid #EEE; padding:10px; margin:0 1px; }
	.user-details .row:first-child { border-top:none; padding-top:15px; }
	.user-details .row .title { float:left; }
	.user-details .row .detail { margin-left:165px; }
	.user-details .button-container { padding-bottom:5px; }
	.user-details .button-container .icon-button { float:right; }
	.user-details .app-selection { margin-left:10px; border-radius:10px; background-color:#CCC; cursor:pointer; float:left; width:15px; height:15px; }
	.user-details .select-apps { margin-left:10px; cursor:pointer; float:left; width:17px; height:18px; background-image:url('../images/management/add.png'); }
	.user-details .user-admin-list span, .user-details .no-apps { color:#CCC; font-size:12px; font-style:italic; }
.user-details .no-apps { margin-left:165px; display:none; }
.small-link { margin-top:10px; font-size:11px; cursor:pointer; color:#999; vertical-align:text-top; display:inline-block; }
.small-link:hover { text-decoration:underline; }
.password-row { display:none; }
.user-noapps { position:absolute; left:50%; top:50%; width:460px; margin-left:-118px; font:16px Ubuntu,Helvetica,sans-serif; line-height:23px; text-shadow:0 1px white; color:#555; height:50px; margin-top:-25px; }
.checkbox { cursor:pointer; width:16px; height:16px; float:left; margin-right:5px; background-image:url('../images/management/checkbox.png'); background-position:-16px; }
.checkbox.checked { background-position:0; }
/* USER MANAGEMENT END */

.icon-button.light.graph-segment.active { border-color:#333; box-shadow:inset 0 0 3px #222; background-color:#3E3E3E; background-image:linear-gradient(top, #292929 40%, #3E3E3E 100%); background-image:linear-gradient(to bottom, #292929 40%, #3E3E3E 100%); }
.icon-button.light.graph-segment.active:hover { opacity:1; }
.os-segment { height:31px; width:28px; background-position:center; }
.os-segment.ios { background-image:url('../images/dashboard/platform_buttons/apple.png'); }
.active .os-segment.ios { background-image:url('../images/dashboard/platform_buttons/apple_active.png'); }
.os-segment.android { background-image:url('../images/dashboard/platform_buttons/android.png'); }
.active .os-segment.android { background-image:url('../images/dashboard/platform_buttons/android_active.png'); }
.os-segment.blackberry { background-image:url('../images/dashboard/platform_buttons/b.png'); background-position:-5px -3px; }
.active .os-segment.blackberry { background-image:url('../images/dashboard/platform_buttons/bb_active.png'); }
.os-segment.windows { background-image:url('../images/dashboard/platform_buttons/windows.png'); background-position:-5px -4px; }
.active .os-segment.windows { background-image:url('../images/dashboard/platform_buttons/windows_active.png'); }
.os-segment.mac { background-image:url('../images/dashboard/platform_buttons/mac.png'); background-position:-5px -4px; }
.active .os-segment.mac { background-image:url('../images/dashboard/platform_buttons/mac_active.png'); }
.os-segment.os.x { background-image:url('../images/dashboard/platform_buttons/mac.png'); background-position:-5px -4px; }
.active .os-segment.os.x { background-image:url('../images/dashboard/platform_buttons/mac_active.png'); }

#content-loader { position:absolute; left:50%; top:50%; margin-top:-24px; margin-left:88px; background:url('../images/dashboard/content-loader.gif'); background-repeat:no-repeat; width:48px; height:48px; }

/* EVENTS */
#event-nav  { z-index:3; width:190px; position:fixed; left:220px; top:0; text-align:right; background-color:#CCC; height:100%; background-image:url('../images/dashboard/dropdown_bg.png'); }
#event-nav-head { position:relative; height:27px; padding:20px; padding-left:15px; color:#BFBFBF; text-shadow:0 -1px #232323; font:18px Ubuntu,Helvetica,sans-serif; line-height:111%; background-image:url('../images/dashboard/dropdown_head.png'); text-align:left; }
#event-nav-title { overflow:hidden; text-overflow:ellipsis; white-space:nowrap; max-width:85px; float:left; padding-top:3px; }
.event-container { cursor:pointer; height:30px; background-image:url('../images/dashboard/dropdown_item.png'); padding:8px 12px; overflow:auto; }
.event-container:hover { opacity:0.7; }
.event-container.active { background-image:url('../images/dashboard/dropdown_item_active.png'), url('../images/dashboard/dropdown_item.png'); background-repeat:no-repeat; background-position:right; }
.event-container.active:hover { opacity:1; }
.event-container:last-child { margin-bottom:60px; }
	.event-container .name { width:151px; text-align:left; text-overflow:ellipsis; white-space:nowrap; overflow:hidden; float:left; margin-left:10px; padding-top:6px; color:#464646; text-shadow:0 1px #EAEAEA; font:13px Ubuntu,Helvetica,sans-serif; line-height:111%; }
#event-tooltip{display: none; position: absolute; z-index: 10; background-color: #CCC; height: 45px;}
.event-segmentation { float:left; margin-top:4px; }
#event-update-area { float:left; }

#event-update-area .title { font:19px Ubuntu,Helvetica,sans-serif; line-height:111%; color:#636363; text-shadow:0 1px #F6F6F6; float:left; margin-top:8px; margin-right:11px; max-width: 700px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
@media (min-width: 1601px) and (max-width: 1700px){
	#event-update-area .title {max-width: 500px;}
}
@media (min-width: 1401px) and (max-width: 1600px){
	#event-update-area .title {max-width: 300px;}
}
@media (min-width: 1301px) and (max-width: 1400px){
	#event-update-area .title {max-width: 200px;}
}
@media (min-width: 1226px) and (max-width: 1300px){
	#event-update-area .title {max-width: 100px;}
}
@media (max-width: 1225px){
	#event-update-area .title {max-width: 400px;}
}
#edit-event-table-container  { width:850px; max-height:400px; overflow:auto; }
.events .buttons { border-top:1px solid #000; margin-top:0; padding:7px 10px; box-shadow:inset 0 1px 0 #999; border-bottom-left-radius:2px; border-bottom-right-radius:2px; background-color:#666; background-image:linear-gradient(top, #666 10%, #555 100%); background-image:linear-gradient(to bottom, #666 10%, #555 100%); }

table.events-table { width:100%; padding:0; margin:0; }
	.events-table  th { padding:5px 10px; height:17px; color:#666; font-weight:normal; font:13px Ubuntu,Helvetica,sans-serif; line-height:111%; text-shadow:0 1px #F1F1F1; background-color:#E2E2E2; box-shadow:inset 0 1px 0 #F6F6F6; text-align:left; border-bottom:1px solid #CCC; border-right:none; border-left:1px solid #ccc; background-color:#E2E2E2; background-image:linear-gradient(top, #EAEAEA 30%, #E2E2E2 100%); background-image:linear-gradient(to bottom, #EAEAEA 30%, #E2E2E2 100%); }
	.events-table  th:first-child { border-left:none; }
	.events-table  thead tr { background-color:transparent; }
	.events-table  td { padding:5px 10px; padding-bottom:7px; margin:0; border-bottom:1px solid #DDD; border-top:1px solid #fff; border-left:1px solid #ccc; color:#6B6B6B; }
	.events-table  td:first-child { border-left:none; font-weight:normal; }
    	.events-table  td:nth-child(5) { overflow:hidden; text-overflow:ellipsis; white-space:nowrap; width:170px; max-width:170px; }
	.events-table  tr { border-bottom:1px solid #DDD; border-top:1px solid #fff; font:16px Ubuntu,Helvetica,sans-serif; line-height:111%; background-color:#fff}
	.events-table  td:nth-child(5) input[type=text] { width:170px; }
	.events-table  tr input[type=text] { border:none; outline:none; width:130px; }
	.events-table  tr:nth-child(even) input[type=text] { background-color:#F9F9F9}
	.events-table  tr:first-child { border-top:none; }
	.events-table  tr:last-child { border-bottom:none; }
	.events-table  tr:nth-child(even){ background-color:#F9F9F9}
	.events-table  tr:last-child td { border-bottom:none; }
	.events-table .table-no-data { text-align:center; font:15px Ubuntu,Helvetica,sans-serif; line-height:111%; padding:20px; color:#CCC; }
	.events-table .table-no-data:hover { background-color:#FFF; }

    .events-table tr.moving { border-bottom:1px solid #CCC; border-top:1px solid #CCC; }
    .events-table tr.moving td { border-bottom:none; border-top:none; }

.event-row-placeholder { height:37px; }
.event-order { color:#BBB; cursor:move; }

#edit-events-button .icon { width:21px; height:22px; margin:0; background-image:url('../images/dashboard/event-settings.png'); }

.event-numbers .big-numbers { cursor:pointer; }
.event-numbers .big-numbers:nth-child(1).selected .color { box-shadow: 0 1px 20px 0 #88BBC8; }
.event-numbers .big-numbers:nth-child(2).selected .color { box-shadow: 0 1px 20px 0 #ED8662; }

.delete-event, .delete-event-selected { color:#D67678; cursor:pointer; font-size:16px;}
.delete-event:hover, .delete-event-selected:hover { color:#D63E40; }


/* EVENTS END */

#help-toggle { float:right; background-image:url('../images/dashboard/on-off.png'); width:34px; height:18px; background-position:-51px; margin-top:7px; margin-right:16px; cursor:pointer; }
#help-toggle.active { background-position:0; }
.percent-bar { height:11px; float:left; background-color:#AEE8B0; margin-right:4px; margin-top:5px; }

/* EXPORT */
#export-checkbox-container { padding:10px; padding-bottom:2px; overflow:auto; }
.export-checkbox { width:14%; float:left; margin-bottom:8px; font:16px Ubuntu,Helvetica,sans-serif; line-height:111%; color:#444; }
.export-description { font:15px Ubuntu,Helvetica,sans-serif; line-height:111%; color:#999; padding:10px; padding-bottom:5px; }
.stretch {}
/* EXPORT END */

.cly-button-group .icon-button { border-radius:0; margin:0; border-left:none; }
    .cly-button-group .icon-button:first-child, .cly-button-group .icon-button.first { border-radius:4px 0 0 4px; border-left: 1px solid #A5A5A5}
    .cly-button-group .icon-button.dark:first-child, .cly-button-group .icon-button.dark.first { border-left-color:#1B1B1B; }
    .cly-button-group .icon-button:last-child, .cly-button-group .icon-button.last { border-radius:0 4px 4px 0; }

.button-selector {font:13px Ubuntu,Helvetica,sans-serif; line-height:111%; color:#6B6B6B; text-shadow:0 1px #F6F6F6; padding:0px; padding-right:0; overflow:auto; user-select:none; }
.button-selector .button { cursor:pointer; user-select:none; background-color:#E0E0E0; background-image:linear-gradient(top, #EEEEEE 40%, #E0E0E0 100%); background-image:linear-gradient(to bottom, #EEEEEE 40%, #E0E0E0 100%); float:left; padding:7px 5px; padding-top:6px; border:1px solid #A5A5A5; border-left:1px solid #747575; box-shadow:inset 0 1px 0 #FDFDFD; border-right:1px solid #EDEDED; }
.button-selector .button:nth-child(1) { border-top-left-radius:4px; border-bottom-left-radius:4px; }
.button-selector .button:last-child { border-top-right-radius:4px; border-bottom-right-radius:4px; border-right:1px solid #747575; }
.button-selector .button:hover { background-color:#F9F9F9; background-image:linear-gradient(top, #F9F9F9 40%, #E0E0E0 100%); background-image:linear-gradient(to bottom, #F9F9F9 40%, #E0E0E0 100%); }
.button-selector .button:active  { background-color:#E0E0E0; background-image:linear-gradient(top, #E0E0E0 40%, #F9F9F9 100%); background-image:linear-gradient(to bottom, #E0E0E0 40%, #F9F9F9 100%); }
.button-selector .button.active { background-color:#3C3C3C; background-image:linear-gradient(top, #3C3C3C 10%, #717171 100%); background-image:linear-gradient(to bottom, #3C3C3C 10%, #717171 100%); box-shadow:inset 0 0 1px 0 #2D2D2D; color:#FFF; border-color:#202020; text-shadow:0 -1px #333; }

/* GRAPH NOTES */
.widget-footer:hover #graph-note { opacity:0.7; transition:opacity .5s; }
#graph-note { transition:opacity .5s; cursor:pointer; background-color: #E66; position: absolute; left: -1px; top: 103px; z-index: 2; font-size: 11px; padding: 6px; color: #FFF; font-family: Ubuntu; height: 14px; text-shadow: none; opacity:0; }
#graph-note:hover { opacity: 1 !important; transition:opacity .5s; }
#graph-note .main { position:relative; width:45px; line-height:14px; text-align: center; }
#graph-note .tail { width: 0; height: 0; border-top: 13px solid #E66; border-bottom: 13px solid #E66; border-right: 12px solid rgba(0, 0, 0, 0); position: absolute; left: 51px; top: -6px; }

.graph-note-label { height:21px; width:21px; margin-left:-13px; margin-top:-13px; border-radius: 25px; border:2px dashed #E66; background-color: transparent; }
.graph-note-label:hover { -moz-animation:spin 4s infinite linear; -o-animation:spin 4s infinite linear; -webkit-animation:spin 4s infinite linear; animation:spin 4 s infinite linear; }
.graph-note-label .point { height:9px; width:9px; margin-left:4px; margin-top:4px; border-radius: 25px; border:2px solid #E66; border-color:inherit; background-color: #FFF; }

#graph-note-popup { display:none; }
#graph-note-popup .title { float:left; width:100px; }
#graph-note-popup .input { margin-left:105px; }

.time-picker span { display: block; padding:5px 10px 5px 5px; text-align: center; cursor:pointer; color:#777; }
.time-picker span:hover { font-size: 16px; }
.time-picker span.selected { font-weight: 500; font-size: 17px; }

#graph-tooltip .label-value { text-align: center; }
#graph-tooltip .separator { margin:5px 0; border-top:1px solid #222; border-bottom:1px solid #666; height:0; opacity:0.6; }
#graph-tooltip .note-line { margin-bottom:5px; text-align:left; font-size:13px; white-space: nowrap; overflow: hidden; color:#BBB; font-family:Ubuntu; list-style: square; }
#graph-tooltip .note-line:last-child { margin-bottom: 1px; }

.note-list .note { border-bottom:1px solid #EEE; width:100%; padding:7px 0; position:relative; }
.note-list .note .date { color:#999; font-size:11px; }
.note-list .note .content { margin-top:3px; max-width:220px; text-overflow: ellipsis; white-space: nowrap; overflow:hidden; }
.note-list .note .delete-note { display:none; position:absolute; right:15px; width:20px; height:20px; top:17px; }
.note-list .note .delete-note i { color:#D67678; cursor:pointer; }
.note-list .note .delete-note i:hover { color:#D63E40; }
.note-list .note:hover .delete-note { display:block;  }

.note-create .text-count-wrapper { margin-top:1px; font-size:11px; text-align: right; height:16px; color:#BBB; display: block; }

.note-popup .ui-datepicker .ui-datepicker-header { position:initial; }
/* GRAPH NOTES END */

/* MISC */
#edit-account-details { display:none; }
	#edit-account-details .title { float:left; width:100px; }
	#edit-account-details .input { margin-left:105px; }
    .xAxis .tickLabel { overflow: hidden; text-overflow: ellipsis; max-width: 100px; max-height: 60px; white-space: pre-wrap; }
    .yAxis .tickLabel { text-align: right !important; }

#no-app-warning { display:none; margin-left:187px; }
#first-app-success { display:none; margin-left:187px; margin-top:-5px; }
#add-app-button  .text { overflow:hidden; text-overflow:clip; white-space:nowrap; max-width:60px; }
#listof-apps .icon-button { overflow:hidden; text-overflow:ellipsis; white-space:nowrap; max-width:47px; }

.item .beta-button { opacity:0; transition:opacity 0.2s; background-color:#222; background-image:linear-gradient(top, #222 10%, #111 100%); background-image:linear-gradient(to bottom, #222 10%, #111 100%); border:1px solid #000; color:#CCC; box-shadow:inset 0 1px 0 #333; text-shadow:0 -1px #000; float:right; margin-top:7px; margin-right:7px; font-size:9px; border-radius:10px; padding:3px 5px; }
.item.active .beta-button { opacity:0.8; transition:opacity 0.2s; background-color:#D63E40; background-image:linear-gradient(top, #E95C6C 10%, #D63E40 100%); background-image:linear-gradient(to bottom, #E95C6C 10%, #D63E40 100%); border:1px solid #AD0303; color:#FFF; box-shadow:inset 0 1px 0 #F196A0; text-shadow:0 -1px #AD434B; }
.item.active .beta-button:hover { opacity:0.9; }

#total-user-estimate-ind { vertical-align:text-top; font-size:13px; margin-left:-5px; }
#total-user-estimate-ind:hover { color:#6BB96E; }

.rotated-tick { margin-top:-16px; font:normal 17px Oswald; }

.messenger-message-inner { line-height: 17px; }
.messenger-message-inner a { text-decoration: underline; }
.owner-indicator {font-size:16px; margin-left:9px; padding-top:11px; float:left; display:none; }
.resource-link {cursor:pointer;}

.popup-menu-container { display:none; position:absolute; z-index:1000; margin-top:38px; margin-left:-174px; padding:2px 3px 6px 3px; background-color:rgba(85,85,85,1); border:1px solid #333; box-shadow:inset 0 0 0 1px #777; border-radius:5px; background-image:url('../images/dashboard/calendar_bg.png'); }
    .popup-menu-container .tip { width:14px; margin:0 auto; margin-top:-10px; height:9px; background-image:url('../images/dashboard/calendar_tip.png'); z-index:20; }
    .popup-menu-container .calendar-container { overflow:auto; box-shadow:inset 0 0 1px 1px #999, 0 1px 0 0 #777; padding:6px; background-color:#CCC; border-radius:4px; border:1px solid #333; margin:3px; margin-top:5px; }
    .popup-menu-container .calendar-container .calendar { float:left; margin-right:6px; border:1px solid #666; border-radius:3px; }
    .popup-menu-container .calendar-container .calendar:nth-child(2) { margin-right:0; }
    .popup-menu-container .button-container { overflow:auto; margin-top:6px; padding:3px; }

.cly-huge-dropdown-activator { border-left: 1px solid #BBB; border-right: 1px solid #BBB; cursor: pointer; width: 48.5%; position: absolute; top: 0; height: 35px; left: 10px; padding-top: 14px !important; padding-left: 6px; box-shadow: inset 1px 0 0 0 #F9F9F9, inset -1px 0 0 0 #F2F2F2; }
.cly-huge-dropdown-activator .text { display:block; margin-right:20px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.cly-huge-dropdown-activator .icon { float: right; font-size: 20px; margin-right: 6px; color: #CCC; margin-top: 1px; }
.cly-huge-dropdown { user-select:none; display:none; position:absolute; z-index:1000; margin-top:-7px; background-color:rgba(85,85,85,0); border:1px solid #999; border-bottom-left-radius:5px; border-bottom-right-radius:5px; margin-left:3px; width: 50%;}
.cly-huge-dropdown .tip { width:14px; margin:0 auto; margin-top:-10px; height:9px; background-image:url('../images/dashboard/calendar_tip.png'); z-index:20; }
.cly-huge-dropdown .inner-container { background-image:url('../images/dashboard/blck_grain_trans_bg.png'); padding:5px; }
.cly-huge-dropdown .inner { overflow:auto; border-radius:4px; border:1px solid #888; opacity:0.8; }
.cly-huge-dropdown .inner .scroll { max-height: 232px; }
.cly-huge-dropdown .button-container { overflow:auto; padding:12px 5px 11px 5px; box-shadow:0 0 4px 0 #888; }
@-moz-document url-prefix() { .cly-huge-dropdown .button-container { padding-bottom:10px; } }
.cly-huge-dropdown .button-container .title { font-family:Ubuntu; line-height:111%; color:#DDD; text-shadow:none; font-size:18px; padding-top:2px; padding-left:2px; }

.cly-huge-dropdown .inner .item { cursor:pointer; padding:5px 8px 11px 8px; background-color:#F6F6F6; border-top:1px solid #888; overflow:hidden; text-overflow:ellipsis;}
.cly-huge-dropdown .inner .item:hover { background-color:#444; border-top-color:#444; }
.cly-huge-dropdown .inner .item.active { background-image:url('../images/dashboard/dropdown_item_active.png'), url('../images/dashboard/dropdown_item.png'); background-repeat:no-repeat; background-position:right; }
.cly-huge-dropdown .inner .item.active:hover { opacity:1; }
.cly-huge-dropdown .inner .item:first-child { border-top:none; }
.cly-huge-dropdown .inner .item .name { width:auto; text-align:left; text-overflow:ellipsis; white-space:nowrap; overflow:hidden; float:left; margin-left:10px; padding-top:6px; color:#464646; text-shadow:0 1px #FFF; font:14px Ubuntu,Helvetica,sans-serif; }
@-moz-document url-prefix() { .cly-huge-dropdown .inner .item .name { line-height:113%; } }
.cly-huge-dropdown .inner .item:hover .name { color:#FFF; text-shadow:0 1px #555; }

.popup-link { float:left; font-family:Ubuntu; font-size:13px; color:#999; padding-top:6px; cursor:pointer; }
.popup-link:hover { text-decoration: underline; }

.required-border { border-color:#B94A48 !important; }

#graph-tooltip-title { color:#CCC; margin-right:7px; }

.options {display: none; background-color: #E0E0E0; position: absolute; top:50px; right: 0px; list-style: none; margin:0; padding:0; padding:3px;border: 1px solid #979797; border-top: none; margin-right: -1px;}
.options li{font:14px Ubuntu,Helvetica,sans-serif; color: #666; padding: 2px; padding-right: 5px; cursor:pointer;}
.options li:hover{background-color: #FFF; color: #666;}
.options li span {line-height:23px;}
	
/* ALL APPS */
.allapps {margin-top: -16px;}
.allapps .dataTable-top {border-radius: 0;}
.allapps .logo{width: 20px; height: 20px; background-size: 20px 20px; float: left; margin-right: 10px; margin-top: -2px; background-position: center; border-radius: 4px; border: 1px solid #555;}
.allapps .trend { width:12px; height:9px; display: inline-block; margin-top: 5px; margin-right: 5px;}
.allapps tbody tr {cursor: pointer;}

.allappview .widget-content .big-numbers .inner{height: 30px;}
.allappview .widget-footer{border-radius: 0;}
.allappview #empty-graph {position: absolute; text-align: center; font-size: 35px; width:100%; top:50%; margin-top: -20px; display: none;}
.allapps div.color{ width: 10px; height: 20px; float: right;}